force-app/main/default/core-functionality/flows/ConversationNote_Screenflow_Complete_Redaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>close_tab</name>
        <label>close tab</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>c:fcTabCloser</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Log_exception</name>
        <label>Log exception</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Exception_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Conversation_Note__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Henvendelse</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>CRITICAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>Get_Conversation_Note</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>ConversationNote Screenflow Complete Redaction</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>ConversationNote Screenflow Complete Redaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ConversationNote Screenflow Complete Redaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Conversation_Note</name>
        <label>Get Conversation Note</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trigger_sync</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversation_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Log_exception</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Set_conversation_note_to_redacted</name>
        <label>Set conversation note to redacted</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Trigger_sync_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Conversation_Note__c</field>
            <value>
                <stringValue>{!Update_Conversation_Note} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Is_Read__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Is_Redacted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cause__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Sensitive_Information__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Conversation_Note__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Exception_Screen</name>
        <label>Exception Screen</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>exceptionMessage</name>
            <fieldText>&lt;p&gt;Noe gikk galt&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Feilmelding:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Trigger_sync</name>
        <label>Trigger sync</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_conversation_note_to_redacted</targetReference>
        </connector>
        <fields>
            <name>next</name>
            <extensionName>c:fcFlowNextScreenNavigator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Trigger_sync_0</name>
        <label>Trigger sync</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Innboks_Notification</targetReference>
        </connector>
        <fields>
            <name>next_0</name>
            <extensionName>c:fcFlowNextScreenNavigator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Trigger_sync_0_0</name>
        <label>Trigger sync</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>close_tab</targetReference>
        </connector>
        <fields>
            <name>next_0_0</name>
            <extensionName>c:fcFlowNextScreenNavigator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conversation_Note</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Innboks_Notification</name>
        <label>Create Innboks Notification</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Trigger_sync_0_0</targetReference>
        </connector>
        <flowName>CRMHenvendelse_ConversationNote_CreateInnboksUserNotification</flowName>
        <inputAssignments>
            <name>ConversationNote</name>
            <value>
                <elementReference>Get_Conversation_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationDateTime</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationMessageText</name>
            <value>
                <elementReference>$Label.CRMHenvendelse_ConversationNote_RedactedMessageNotificationText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendExternalNotification</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Update_Conversation_Note</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.CRMHenvendelse_ConversationNote_RedactedMessageNotificationText} {!$Flow.CurrentDateTime}

{!Get_Conversation_Note.CRM_Conversation_Note__c}</text>
    </textTemplates>
    <variables>
        <name>newUserNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserNotification__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
