force-app/main/default/core-functionality/flows/CRM_Account_New_Conversation_Note_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Initiates async journal creation</description>
        <name>Journal_Conversation_Note</name>
        <label>Journal Conversation Note</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>CRM_ConvNoteJournalHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Case_Legacy_System</name>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseLegacySystem</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseTheme</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Conversation_Note</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>CONVERSATION_NOTE_CHANNELS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_Communication_Channel__c</picklistField>
        <picklistObject>Conversation_Note__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>SELECTED_THEME_GROUP_ID</name>
        <dataType>String</dataType>
        <expression>{!Person_NAV_Cases.selectedThemeGroupSfId}</expression>
    </formulas>
    <formulas>
        <name>SELECTED_THEME_ID</name>
        <dataType>String</dataType>
        <expression>{!Person_NAV_Cases.selectedCaseThemeSfId}</expression>
    </formulas>
    <interviewLabel>Account New Conversation Note - Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account New Conversation Note - Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Insert the new conversation note to the DB</description>
        <name>Create_Conversation_Note</name>
        <label>Create Conversation Note</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Journal_Conversation_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Communication_Channel__c</field>
            <value>
                <elementReference>Note_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Conversation_Note__c</field>
            <value>
                <elementReference>Conversation_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Created_By_Ident__c</field>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Created_By_NAV_Unit__c</field>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Theme_Group__c</field>
            <value>
                <elementReference>SELECTED_THEME_GROUP_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Theme__c</field>
            <value>
                <elementReference>SELECTED_THEME_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Conversation_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Query the person record</description>
        <name>Get_Person</name>
        <label>Get Person</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Conversation_Note_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>INT_ActorId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>New_Conversation_Note_Screen</name>
        <label>New Conversation Note</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Conversation_Note</targetReference>
        </connector>
        <fields>
            <name>Person_NAV_Cases</name>
            <extensionName>c:crmPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Person.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Note_Channel</name>
            <choiceReferences>CONVERSATION_NOTE_CHANNELS</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Phone</stringValue>
            </defaultValue>
            <fieldText>Type referat:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Conversation_Note</name>
            <fieldText>Referat:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Del med bruker</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
