force-app/main/default/core-functionality/flows/CRM_Journal_Entry_After_Insert_On_Thread_Journal_Initiate_Journal_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Determines the thread type and calls the correct subflow that is overrideable.</description>
        <name>Check_Thread_Type</name>
        <label>Check Thread Type</label>
        <locationX>539</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>STO_STB_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread_State.CRM_Thread_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Thread_State.CRM_Thread_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Post_Criteria</targetReference>
            </connector>
            <label>STO/STB Type</label>
        </rules>
        <rules>
            <name>CHAT_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread_State.CRM_Thread_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Thread_State.CRM_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Journal_Chat_Thread</targetReference>
            </connector>
            <label>CHAT Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the journal post is to be performed directly. This is the case if the thread is journaled after it has been closed, or if the post type is NOTAT.</description>
        <name>Verify_Post_Criteria</name>
        <label>Verify Post Criteria</label>
        <locationX>209</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Post Later</defaultConnectorLabel>
        <rules>
            <name>Do_Post</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Journal_Post_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOTAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Thread_State.CRM_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Journal_to_JOARK</targetReference>
            </connector>
            <label>Do Post</label>
        </rules>
    </decisions>
    <description>Flow for automatic journal post to JOARK based on defined criteria. As of now only for posts with type NOTAT created via API.</description>
    <interviewLabel>Journal Entry - After Insert - Initiate Journal Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Journal Entry - After Insert - On Thread Journal Initiate Journal Post</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Thread_State</name>
        <label>Get Thread State</label>
        <locationX>539</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Thread_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_isActive__c</queriedFields>
        <queriedFields>CRM_Thread_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Journal_Entry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Journal_Post</name>
            <connector>
                <targetReference>Get_Thread_State</targetReference>
            </connector>
            <label>Schedule Journal Post</label>
            <maxBatchSize>30</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Journal_Chat_Thread</name>
        <label>Journal Chat Thread</label>
        <locationX>605</locationX>
        <locationY>528</locationY>
        <flowName>CRM_Journal_CHAT_Thread</flowName>
        <inputAssignments>
            <name>Journal_Entry_SF</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Post_Journal_to_JOARK</name>
        <label>Post Journal to JOARK</label>
        <locationX>77</locationX>
        <locationY>648</locationY>
        <flowName>CRM_Journal_Message_Thread</flowName>
        <inputAssignments>
            <name>Journal_Entry_SF</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PERFORM_DML</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
