force-app/main/default/core-functionality/flows/CRM_Account_New_Conversation_Note_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Initiates async journal creation</description>
        <name>Journal_Conversation_Note</name>
        <label>Journal Conversation Note</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>CRM_ConvNoteJournalHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Case_Legacy_System</name>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseLegacySystem</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseTheme</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Conversation_Note</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Verify if a journal entry is to be created</description>
        <name>Journal_Check</name>
        <label>Journal Check</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No Journal</defaultConnectorLabel>
        <rules>
            <name>Do_Journal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JOURNAL_TOGGLE.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Journal_Conversation_Note</targetReference>
            </connector>
            <label>Do Journal</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CONVERSATION_NOTE_CHANNELS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_Communication_Channel__c</picklistField>
        <picklistObject>Conversation_Note__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>SELECTED_THEME_GROUP_ID</name>
        <dataType>String</dataType>
        <expression>IF({!JOURNAL_TOGGLE.value} == true,
{!Person_NAV_Cases.selectedThemeGroupSfId},
null)</expression>
    </formulas>
    <formulas>
        <name>SELECTED_THEME_ID</name>
        <dataType>String</dataType>
        <expression>IF({!JOURNAL_TOGGLE.value} == true,
{!Person_NAV_Cases.selectedCaseThemeSfId},
null)</expression>
    </formulas>
    <interviewLabel>Account New Conversation Note - Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account New Conversation Note - Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Insert the new conversation note to the DB</description>
        <name>Create_Conversation_Note</name>
        <label>Create Conversation Note</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Journal_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Communication_Channel__c</field>
            <value>
                <elementReference>Note_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Conversation_Note__c</field>
            <value>
                <elementReference>Conversation_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Theme_Group__c</field>
            <value>
                <elementReference>SELECTED_THEME_GROUP_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Theme__c</field>
            <value>
                <elementReference>SELECTED_THEME_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Conversation_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Query the person record</description>
        <name>Get_Person</name>
        <label>Get Person</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Conversation_Note_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>INT_ActorId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>New_Conversation_Note_Screen</name>
        <label>New Conversation Note</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Conversation_Note</targetReference>
        </connector>
        <fields>
            <name>New_Conversation_Note_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Conversation_Note_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>JOURNAL_TOGGLE</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Journalfør</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Ja</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Nei</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Conversation_Note_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Person_NAV_Cases</name>
            <extensionName>c:crmPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Person.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>JOURNAL_TOGGLE.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Note_Channel</name>
            <choiceReferences>CONVERSATION_NOTE_CHANNELS</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Phone</stringValue>
            </defaultValue>
            <fieldText>Type referat:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Conversation_Note</name>
            <fieldText>Referat:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Del med bruker</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
