force-app/main/default/core-functionality/flows/CRM_Journal_Entry_Retry_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Journal_Type</name>
        <label>Check Journal Type</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conversation_Note_Journal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Journal_Entry_Data.CRM_Conversation_Note__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retry_Conversation_Note_Journal</targetReference>
            </connector>
            <label>Conversation Note Journal</label>
        </rules>
    </decisions>
    <interviewLabel>Journal Entry Retry - Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Journal Entry Retry - Autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Journal_Entry_Data</name>
        <label>Get Journal Entry Data</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Journal_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JOURNAL_ENTRY_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journal_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Journal_Entry_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Retry_Conversation_Note_Journal</name>
        <label>Retry Conversation Note Journal</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>Journal_Conversation_Note_Retry</flowName>
        <inputAssignments>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>Get_Journal_Entry_Data.NAV_Case_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Case_Legacy_System</name>
            <value>
                <elementReference>Get_Journal_Entry_Data.CRM_NAV_Case_Legacy_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>Get_Journal_Entry_Data.CRM_Created_By_Ident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_SF</name>
            <value>
                <elementReference>Get_Journal_Entry_Data</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>Get_Journal_Entry_Data.CRM_Created_By_NAV_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Subtheme_Code</name>
            <value>
                <elementReference>Get_Journal_Entry_Data.CRM_Subtheme_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>Get_Journal_Entry_Data.CRM_Theme_Code__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>JOURNAL_ENTRY</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <name>JOURNAL_ENTRY_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
