force-app/main/default/core-functionality/flows/CRMHenvendelse_ConversationNote_CreateInnboksUserNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Innboks_Notification</name>
        <label>Create Innboks Notification</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>UN_InnboksAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_error_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>ConversationNote.CRM_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appnavn</name>
            <value>
                <elementReference>AppName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eksternVarsling</name>
            <value>
                <elementReference>SendExternalNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fodselsnummer</name>
            <value>
                <elementReference>Get_Person.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grupperingsId</name>
            <value>
                <elementReference>ConversationNote.CRM_API_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>link</name>
            <value>
                <elementReference>varLinkURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>namespace</name>
            <value>
                <elementReference>Namespace</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prefererteKanaler</name>
            <value>
                <elementReference>PreferredChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordSfId</name>
            <value>
                <elementReference>ConversationNote.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sikkerhetsnivaa</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tekst</name>
            <value>
                <elementReference>NotificationMessageText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tidspunkt</name>
            <value>
                <elementReference>ConversationNote.CRM_Date_Time_Registered__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>relatedRecordId</assignToReference>
            <name>relatedRecordSfId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>newInnboksNotification</assignToReference>
            <name>userNotification</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_error_0</name>
        <label>Log error</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_errors</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Conversation_Note__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Henvendelse</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>ConversationNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>Conversation Note - Create Innboks User Notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_errors</name>
        <label>Assign errors</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_existing_user_notification_to_return_parameter</name>
        <label>Assign existing user notification to return parameter</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>newInnboksNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_user_notification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_existing_notification</name>
        <label>Has existing notification</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Innboks_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_user_notification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_existing_user_notification_to_return_parameter</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Subflow creating inbox user notification from Conversation Note</description>
    <formulas>
        <name>varLinkURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.CRMHenvendelse_InnboksBaseURL}+{!$Label.CRMHenvendelse_SamtalereferatURL}+&apos;/&apos;+{!ConversationNote.Id}+&apos;/&apos;+{!ConversationNote.CRM_Henvendelse_BehandlingskjedeId__c}</expression>
    </formulas>
    <interviewLabel>Conversation Note - Create Innboks User Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversation Note - Create Innboks User Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Person</name>
        <label>Get Person</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_user_notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConversationNote.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user_notification</name>
        <label>Get user notification</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_existing_notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INT_GroupingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConversationNote.CRM_API_Reference__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>INT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INNBOKS</stringValue>
            </value>
        </filters>
        <filters>
            <field>INT_SystemUser__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.CRMHenvendelse_SystemUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserNotification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>sf-brukernotifikasjon</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConversationNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Conversation_Note__c</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Namespace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>teamnks</stringValue>
        </value>
    </variables>
    <variables>
        <name>newInnboksNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserNotification__c</objectType>
    </variables>
    <variables>
        <description>Notification Message Text</description>
        <name>NotificationMessageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The preferred channel on if external notification
Values: &quot;EPOST&quot; &quot;SMS&quot;</description>
        <name>PreferredChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Send SMS/Email notification. Default value is false</description>
        <name>SendExternalNotification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
