force-app/main/default/core-functionality/flows/CRMHenvendelse_ConversationNote_AfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <description>Call the subflow &quot;Conversation Note - Create Innboks User Notification&quot;</description>
    <interviewLabel>Conversation Note - After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversation Note - After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Insert the message content record.</description>
        <name>Create_Message_Content</name>
        <label>Create Message Content</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <elementReference>$Record.CRM_Conversation_Note__c</elementReference>
            </value>
        </inputAssignments>
        <object>Message_Content__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Message_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Created_By_Ident__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Conversation_Note__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Create_Innbox_Event</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Innbox_Event</name>
        <label>Create Innbox Event</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <flowName>CRMHenvendelse_ConversationNote_CreateInnboksUserNotification</flowName>
        <inputAssignments>
            <name>ConversationNote</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationMessageText</name>
            <value>
                <elementReference>$Label.CRMHenvendelse_NewConversationNoteNotification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SendExternalNotification</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
