force-app/main/default/core-functionality/flows/Thread_Sub_Screenflow_Complete_Redaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_exception</name>
        <label>Log exception</label>
        <locationX>754</locationX>
        <locationY>1334</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_fault_message</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Thread__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>CRITICAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>Thread Screenflow Complete Redaction</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_fault_message</name>
        <label>Assign fault message</label>
        <locationX>754</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_disposal_datetime</name>
        <label>Set disposal datetime</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Thread.CRM_Disposal_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Discard_all_messages</name>
        <label>Discard all messages</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Thread</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discardAllMessages</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_and_discard_all_messages</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Thread Sub-Screenflow Complete Redaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread Sub-Screenflow Complete Redaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a message to inform the user about redaction.</description>
        <name>Create_Info_Message_On_Redaction</name>
        <label>Create Info Message On Redaction</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Navigate_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CRM_Event_Type__c</field>
            <value>
                <stringValue>REDACTED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <elementReference>messageRedactionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>threadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Type__c</field>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Info_Message_On_Redaction</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>threadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Log_exception</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Find_and_discard_all_messages</name>
        <label>Find and discard all messages</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Set_disposal_datetime</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>threadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Is_Redacted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_thread_to_redacted</name>
        <label>Set thread to redacted</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Navigate_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>threadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Disposal_Datetime__c</field>
            <value>
                <elementReference>Get_Thread.CRM_Disposal_Datetime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cause__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Sensitive_Information__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Navigate</name>
        <label>Navigate</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <fields>
            <name>NavigateComponent</name>
            <extensionName>c:fcFlowNextScreenNavigator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigate_0</name>
        <label>Navigate</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_thread_to_redacted</targetReference>
        </connector>
        <fields>
            <name>NavigateComponent_0</name>
            <extensionName>c:fcFlowNextScreenNavigator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigate_0_0</name>
        <label>Navigate</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavigateComponent_0_0</name>
            <extensionName>c:fcFlowNextScreenNavigator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Discard_all_messages</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>discardAllMessages</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>messageRedactionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>threadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
