force-app/main/default/flows/Conversation_Note_CreateDoneUserNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Done_Notification</name>
        <label>Create Done Notification</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <actionName>UN_DoneProducerLegacy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>tidspunkt</name>
            <value>
                <elementReference>ConversationNote.CRM_Read_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userNotification</name>
            <value>
                <elementReference>User_Notification</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <description>Create a DONE user notification when a user is ready to sync</description>
    <interviewLabel>Conversation Note - Create Done Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversation Note - Create Done User Notification</label>
    <loops>
        <name>User_Notification</name>
        <label>User Notification</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>User_Notification_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Done_Notification</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>User_Notification_Collection</name>
        <label>User Notification Collection</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_RelatedSfRecord__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConversationNote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserNotification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Notification_Collection</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ConversationNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Conversation_Note__c</objectType>
    </variables>
</Flow>
