force-app/main/default/flows/Conversation_Note_After_update_Archive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Field_Values_To_ArchiveData</name>
        <label>Add Field Values To ArchiveData</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>ArchiveData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Conversation Note Id: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, CRM_Conversation_Note__c: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CRM_Conversation_Note__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_Archive_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TeamNKS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NKS</stringValue>
        </value>
    </constants>
    <interviewLabel>Conversation Note - After update - Archive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversation Note - After update - Archive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>STO_Sensitive_Information__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Conversation_Note__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Add_Field_Values_To_ArchiveData</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Archive_Record</name>
        <label>Subflow - Archive Record</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <flowName>Subflow_Archive_Record</flowName>
        <inputAssignments>
            <name>ActorId</name>
            <value>
                <elementReference>$Record.CRM_Account__r.CRM_Person__r.INT_ActorId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ArchiveData</name>
            <value>
                <elementReference>ArchiveData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Confidential</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Domain</name>
            <value>
                <elementReference>TeamNKS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Fnr</name>
            <value>
                <elementReference>$Record.CRM_Account__r.CRM_Person__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceObject</name>
            <value>
                <stringValue>Conversation_Note__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlow</name>
            <value>
                <stringValue>Conversation Note - After Update - Archive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Theme</name>
            <value>
                <elementReference>$Record.CRM_Theme__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ArchiveData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
