force-app/main/default/flows/Conversation_Note_Subflow_Create_User_Notification_On_Discarded_Conversation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Discarded_Inbox_notification</name>
        <label>Create Discarded Inbox notification</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>UN_InnboksProducerLegacy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Outbound_Value</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>conversation_note.CRM_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eksternVarsling</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fodselsnummer</name>
            <value>
                <elementReference>Get_Person.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grupperingsId</name>
            <value>
                <elementReference>conversation_note.CRM_API_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>link</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordSfId</name>
            <value>
                <elementReference>conversation_note.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sikkerhetsnivaa</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systembruker</name>
            <value>
                <elementReference>$Label.CRMHenvendelse_SystemUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tekst</name>
            <value>
                <elementReference>$Label.CRMHenvendelse_NewMessageNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tidspunkt</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Outbound_Value</name>
        <label>Set Outbound Value</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>newUserNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Discarded_Inbox_notification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>url</name>
        <dataType>String</dataType>
        <expression>{!$Label.CRMHenvendelse_InnboksBaseURL}+{!$Label.CRMHenvendelse_SamtalereferatURL}+&apos;/&apos;+{!conversation_note.Id}+&apos;/&apos;+{!conversation_note.CRM_API_Reference__c}</expression>
    </formulas>
    <interviewLabel>Conversation Note - Subflow - Create User Notification On Discarded Conversation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversation Note - Subflow - Create User Notification On Discarded Conversation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Person</name>
        <label>Get Person</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Discarded_Inbox_notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conversation_note.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>conversation_note</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Conversation_Note__c</objectType>
    </variables>
    <variables>
        <name>newUserNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserNotification__c</objectType>
    </variables>
</Flow>
