force-app/main/default/flows/Conversation_Note_Screenflow_Complete_Redaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Value</name>
        <label>Set Value</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Get_Conversation_Note.STO_Sensitive_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Conversation_Note.Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Assigned</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Assigned</name>
        <label>Is Assigned</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Conversation_Note.Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Conversation_Note.STO_Sensitive_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Successful</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSent</name>
        <label>isSent</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Roll_Back</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Inbox_Notification</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Sent</label>
        </rules>
    </decisions>
    <interviewLabel>Conversation Note Screenflow Complete Redaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversation Note Screenflow Complete Redaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Conversation_Note</name>
        <label>Get Conversation Note</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversation_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back</name>
        <label>Roll Back</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Covnersation_Note</name>
        <label>Update Covnersation Note</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Send_Inbox_Notification</targetReference>
        </connector>
        <inputReference>Get_Conversation_Note</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Failed!</description>
        <name>Failed</name>
        <label>Failed</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Complete</name>
            <fieldText>&lt;p&gt;Noe gikk galt!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ferdigstill</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Successful!</description>
        <name>Successful</name>
        <label>Successful</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Covnersation_Note</targetReference>
        </connector>
        <fields>
            <name>Done</name>
            <fieldText>&lt;p&gt;Samtalereferatet er sladdet.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ferdigstill</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conversation_Note</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Send_Inbox_Notification</name>
        <label>Send Inbox Notification</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>isSent</targetReference>
        </connector>
        <flowName>Conversation_Note_Subflow_Create_User_Notification_On_Discarded_Conversation</flowName>
        <inputAssignments>
            <name>conversation_note</name>
            <value>
                <elementReference>Get_Conversation_Note</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
