force-app/main/default/flows/CRM_Journal_Conversation_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Document</name>
        <label>Generate Document</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Document_Variant_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>visualForceReference</name>
            <value>
                <stringValue>/apex/CRM_Conversation_Note_PDF?id={!recordId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PDF_DOCUMENT</assignToReference>
            <name>documentString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls journal utils to perform the API post action</description>
        <name>Post_Journal_Request</name>
        <label>Post Journal Request</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Post_State</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>journalRequest</name>
            <value>
                <elementReference>Journal_Request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navIdent</name>
            <value>
                <elementReference>Journal_Entry_NAV_Ident</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST_JOURNAL</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Add document variants to document list and assign document title</description>
        <name>Assign_Journal_Documents</name>
        <label>Assign Journal Documents</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Variant_PDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.dokumentkategori</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FORVALTNINGSNOTAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.brevkode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRM_SAMTALEREFERAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Sak_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_Entry_Default_data</name>
        <label>Assign Journal Entry Default data</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.CRM_Created_By_Ident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_NAV_Ident</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.NAV_Case_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.CRM_Journal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SF_Theme_Common_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.CRM_NAV_Case_Legacy_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_Legacy_System</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.CRM_Conversation_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.CRM_Created_By_NAV_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.CRM_Journal_Post_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NOTAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Conversation_Note_Categorization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to document variant wrapper</description>
        <name>Document_Variant_Assignment</name>
        <label>Document Variant Assignment</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDF_DOCUMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to the journal requests and adds the document list.</description>
        <name>Journal_Request_Assignment</name>
        <label>Journal Request Assignment</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Journal_Request.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.sak</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Sak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalpostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NOTAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalfoerendeEnhet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.tema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Theme_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.behandlingstema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Subtheme_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.eksternReferanseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns necessary values to the Sak wrapper for journal entry.</description>
        <name>Journal_Sak_Assignment</name>
        <label>Journal Sak Assignment</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsakId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.sakstype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsaksystem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_Legacy_System_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Request_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Completed</name>
        <label>Set Post Completed</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal_Request.journalpostId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNALED_CONV_NOTE.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SF_Theme_Common_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Failed</name>
        <label>Set Post Failed</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNALED_CONV_NOTE.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SF_Theme_Common_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates theme group and theme for conversation note to match the newest journal entry.</description>
        <name>Update_Conversation_Note_Categorization</name>
        <label>Update Conversation Note Categorization</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>JOURNALED_CONV_NOTE.CRM_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SF_Theme_Common_Code.CRM_Parent_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNALED_CONV_NOTE.CRM_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SF_Theme_Common_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verify if a journal entry already exists for the inputs</description>
        <name>Check_Journal_Entries</name>
        <label>Check Journal Entries</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Entry Exists</defaultConnectorLabel>
        <rules>
            <name>Entry_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Journal_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Necessary_Record_Info</targetReference>
            </connector>
            <label>New Entry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Post_State</name>
        <label>Check Post State</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Set_Post_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal_Request.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Post_Completed</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to determine if the dml should be performed directly in the flow or handled by a parent calling this.</description>
        <name>DML_Check</name>
        <label>DML Check</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <defaultConnectorLabel>No DML</defaultConnectorLabel>
        <rules>
            <name>Do_DML</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PERFORM_DML</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Journal_Entry</targetReference>
            </connector>
            <label>Do DML</label>
        </rules>
    </decisions>
    <description>Automatic journal initiation for the conversation note object.</description>
    <formulas>
        <name>Document_Title</name>
        <dataType>String</dataType>
        <expression>&apos;Samtale med NAV - &apos; + 
LPAD(TEXT(DAY(DATEVALUE({!JOURNALED_CONV_NOTE.CRM_Registered_Datetime_Formula__c}))),2,&apos;0&apos;) + &apos;.&apos; + 
LPAD(TEXT(MONTH(DATEVALUE({!JOURNALED_CONV_NOTE.CRM_Registered_Datetime_Formula__c}))),2,&apos;0&apos;) + &apos;.&apos; + 
TEXT(YEAR(DATEVALUE({!JOURNALED_CONV_NOTE.CRM_Registered_Datetime_Formula__c}))) + 
&apos; - &apos; + 
{!JOURNALED_CONV_NOTE.CRM_Theme_Name__c}</expression>
    </formulas>
    <formulas>
        <name>externalReference</name>
        <dataType>String</dataType>
        <expression>{!JOURNALED_CONV_NOTE.Id} + {!Journal_Theme_Code} + SUBSTITUTE(URLENCODE({!Journal_Sak.fagsakId}), &apos;%&apos;, &apos;_&apos;)</expression>
    </formulas>
    <formulas>
        <description>Better null/blank handling for passing this value to apex</description>
        <name>Journal_Case_Legacy_System_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Journal_Case_Legacy_System}), null, {!Journal_Case_Legacy_System})</expression>
    </formulas>
    <formulas>
        <description>Formula to define the journal case type (Sakstype). If no Journal Case ID has been input, default is GENERELL_SAK</description>
        <name>Journal_Case_Type</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Journal_Case_ID}), &apos;GENERELL_SAK&apos;, &apos;FAGSAK&apos;)</expression>
    </formulas>
    <formulas>
        <description>Formula to generate name convention on journal required format (For persons)</description>
        <name>Person_Full_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Account_Info.CRM_Person__r.INT_LastName__c} &amp; &apos;, &apos; &amp; {!Get_Account_Info.CRM_Person__r.INT_FirstName__c} &amp; &apos; &apos; &amp;{!Get_Account_Info.CRM_Person__r.INT_MiddleName__c}</expression>
    </formulas>
    <interviewLabel>POST_JOURNAL_AUTO_TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Journal Conversation Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Inserts a journal entry record. If post failed the entry status is set to failed and should be handled in asynchronous retry</description>
        <name>Create_Journal_Entry</name>
        <label>Create Journal Entry</label>
        <locationX>50</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Update_Conversation_Note</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>Journal_Entry_SF</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get necessary account information to post a journal entry</description>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JOURNALED_CONV_NOTE.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Journal_Entries</name>
        <label>Get Existing Journal Entries</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Journal_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Theme_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Theme_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Conversation_Note__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NAV_Case_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Case_ID</elementReference>
            </value>
        </filters>
        <object>Journal_Entry__c</object>
        <outputReference>Existing_Journal_Entry</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Query the info needed from record and relations to submit a journal entry</description>
        <name>Get_Necessary_Record_Info</name>
        <label>Get Necessary Record Info</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Conversation_Note__c</object>
        <outputReference>JOURNALED_CONV_NOTE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <queriedFields>CRM_Registered_Datetime_Formula__c</queriedFields>
        <queriedFields>CRM_Theme_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SF_Theme_Common_Code</name>
        <label>Get SF Theme Common Code</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Journal_Entry_Default_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Theme_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tema</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Parent_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates field on the conversation note to reflect the journal state</description>
        <name>Update_Conversation_Note</name>
        <label>Update Conversation Note</label>
        <locationX>50</locationX>
        <locationY>2054</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>JOURNALED_CONV_NOTE</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Journal_Entries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>578</locationX>
        <locationY>2054</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>Flow - Journal Conversation Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Category</name>
            <value>
                <stringValue>Journal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error encountered in conversation journal flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Conversation_Note__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>JOURNALED_CONV_NOTE.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Document variant wrapper for journal request</description>
        <name>Document_Variant_PDF</name>
        <apexClass>CRM_Dokumentvarianter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Logical record variable to check if a journal entry already exists for this combination.</description>
        <name>Existing_Journal_Entry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <description>Unique reference to the case in NAVs fagsystem that the journal post should relate to.</description>
        <name>Journal_Case_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Required variable for journal post in the Dokarkiv API.</description>
        <name>Journal_Case_Legacy_System</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper class for list of documents to journal</description>
        <name>Journal_Documents</name>
        <apexClass>CRM_Dokumenter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV Ident of the user initiating the journal flow.</description>
        <name>Journal_Entry_NAV_Ident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SF journal entry record to be created for a journal request</description>
        <name>Journal_Entry_SF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <description>NAV unit number of the user initiating the journal entry.</description>
        <name>Journal_Entry_Unit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper class for the actual journal request to be sent.</description>
        <name>Journal_Request</name>
        <apexClass>CRM_JournalEntryWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper object for the &quot;fagsystem sak&quot; the journal relates to</description>
        <name>Journal_Sak</name>
        <apexClass>CRM_Sak</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique subtheme code for the journal entry (Not required)</description>
        <name>Journal_Subtheme_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique theme code for the journal entry</description>
        <name>Journal_Theme_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JOURNALED_CONV_NOTE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Conversation_Note__c</objectType>
    </variables>
    <variables>
        <name>PDF_DOCUMENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>By default the flow performs the DML to update the records. To handle callout exceptions when handling multiple posts, this can be set to false and handled in parent.</description>
        <name>PERFORM_DML</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Id of the record triggering the journal flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
