force-app/main/default/flows/CRM_Henvendelse_New_Message_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_user_notification_error</name>
        <label>Create user notification error</label>
        <locationX>314</locationX>
        <locationY>554</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Message__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>ErrorLabel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>Get_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>New Message Event Flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Create_User_Notification_From_Message</name>
        <label>Create User Notification From Message</label>
        <locationX>314</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Create_User_Notification_From_Message_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Message.CRM_External_Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Beskjed_User_Notification</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>ErrorLabel</name>
        <dataType>String</dataType>
        <expression>&quot;Tried to create user notification from message on new message event: &quot; + {!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>VisibleUntil</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 7</expression>
    </formulas>
    <interviewLabel>Henvendelse New Message Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Henvendelse New Message Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Beskjed_User_Notification</name>
        <label>Create Beskjed User Notification</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <faultConnector>
            <targetReference>Create_user_notification_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>Get_Message.CRM_Thread__r.CRM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_Description__c</field>
            <value>
                <elementReference>$Label.CRM_HenvendelseNewMessageNotificationText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_DoneEventTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_ExternalNotification__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_GroupingId__c</field>
            <value>
                <elementReference>Get_Message.CRM_Thread__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_Link__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_PreferredChannel__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_SecurityLevel__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_SystemUser__c</field>
            <value>
                <stringValue>teamnks</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_Type__c</field>
            <value>
                <stringValue>BESKJED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INT_VisibleUntil__c</field>
            <value>
                <elementReference>VisibleUntil</elementReference>
            </value>
        </inputAssignments>
        <object>UserNotification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Message</name>
        <label>Get Message</label>
        <locationX>314</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User_Notification_From_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Message_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Message</targetReference>
        </connector>
        <object>New_Message__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
</Flow>
