force-app/main/default/flows/CRM_Journal_Message_Thread.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Document</name>
        <label>Generate Document</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Subtheme</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>visualForceReference</name>
            <value>
                <stringValue>/apex/CRM_Thread_PDF?id={!Journal_Entry_SF.CRM_Thread__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PDF_DOCUMENT</assignToReference>
            <name>documentString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls journal utils to perform the API post action</description>
        <name>Post_Journal_Request</name>
        <label>Post Journal Request</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Post_State</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>journalRequest</name>
            <value>
                <elementReference>Journal_Request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navIdent</name>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Created_By_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Thread__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST_JOURNAL</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_externalReferenceSuffix</name>
        <label>Add externalReferenceSuffix</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Journal_Request.eksternReferanseId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>externalReferenceSuffix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add document variants to document list and assign document title</description>
        <name>Assign_Journal_Documents</name>
        <label>Assign Journal Documents</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Variant_PDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.brevkode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRM_MELDINGSKJEDE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Sak_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journal_Entry_Default_data</name>
        <label>Assign Journal Entry Default data</label>
        <locationX>446</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.CRM_Journal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DML_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to document variant wrapper</description>
        <name>Document_Variant_Assignment</name>
        <label>Document Variant Assignment</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDF_DOCUMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to the journal requests and adds the document list.</description>
        <name>Journal_Request_Assignment</name>
        <label>Journal Request Assignment</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Journal_Request.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.kanal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NAV_NO_CHAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.sak</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Sak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalpostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Journal_Post_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalfoerendeEnhet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Created_By_NAV_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.tema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Theme_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.behandlingstema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.Subtheme__r.CRM_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.eksternReferanseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalReferenceFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_externalReferenceSuffix_is_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns necessary values to the Sak wrapper for journal entry.</description>
        <name>Journal_Sak_Assignment</name>
        <label>Journal Sak Assignment</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsakId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.NAV_Case_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.sakstype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsaksystem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_NAV_Case_Legacy_System__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Request_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journal_Entry_Id</name>
        <label>Set Journal Entry Id</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal_Request.journalpostId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Entry_Default_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journal_Status_to_Completed</name>
        <label>Set Journal Status to Completed</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNALED_THREAD.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Journal_Post_Id_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journal_Status_to_Duplicate</name>
        <label>Set Journal Status to Duplicate</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNALED_THREAD.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Journal_Post_Id_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journal_Subtheme_Null</name>
        <label>Set Journal Subtheme Null</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Subtheme__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Journal_is_NOTAT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Failed</name>
        <label>Set Post Failed</label>
        <locationX>842</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNALED_THREAD.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Entry_Default_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rerun_failed</name>
        <label>Set Rerun failed</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rerun Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Entry_Default_data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Duplicate</name>
        <label>Check if Duplicate</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Set_Journal_Status_to_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal_Request.duplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Journal_Status_to_Duplicate</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_externalReferenceSuffix_is_blank</name>
        <label>Check if externalReferenceSuffix is blank</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Post_Journal_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_externalReferenceSuffix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalReferenceSuffix</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_externalReferenceSuffix</targetReference>
            </connector>
            <label>Has externalReferenceSuffix</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Journal_is_NOTAT</name>
        <label>Check if Journal is NOTAT</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Document_Variant_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Journal_type_NOTAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Journal_Entry_SF.CRM_Journal_Post_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOTAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_last_message</targetReference>
            </connector>
            <label>Journal type NOTAT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Journal_Post_Id_is_Null</name>
        <label>Check if Journal Post Id is Null</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Assign_Journal_Entry_Default_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal_Request.journalpostId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Post_Journal_Request.journalpostId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Journal_Entry_Id</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_rerun_failed</name>
        <label>Check if rerun failed</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Set_Post_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rerun_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalReferenceSuffix</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rerun_failed</targetReference>
            </connector>
            <label>Rerun failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Post_State</name>
        <label>Check Post State</label>
        <locationX>446</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Check_if_rerun_failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal_Request.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Duplicate</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to determine if the dml should be performed directly in the flow or handled by a parent calling this.</description>
        <name>DML_Check</name>
        <label>DML Check</label>
        <locationX>446</locationX>
        <locationY>2798</locationY>
        <defaultConnectorLabel>No DML</defaultConnectorLabel>
        <rules>
            <name>Do_DML</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PERFORM_DML</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Journal_Entry</targetReference>
            </connector>
            <label>Do DML</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the subtheme has been set for the journal entry from the parent calling the flow. If not this is strictly set to null</description>
        <name>Validate_Subtheme</name>
        <label>Validate Subtheme</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Journal_Subtheme_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subtheme Not Set</defaultConnectorLabel>
        <rules>
            <name>Subtheme_Was_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Journal_Entry_SF.Subtheme__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Journal_is_NOTAT</targetReference>
            </connector>
            <label>Subtheme Was Set</label>
        </rules>
    </decisions>
    <formulas>
        <name>Document_Title</name>
        <dataType>String</dataType>
        <expression>IF({!JOURNALED_THREAD.CRM_isActive__c} == true,
&apos;Pågående samtale med NAV - &apos; + {!THREAD_START_DATE} + &apos; - &apos; + {!JOURNALED_THREAD.CRM_Theme_Name__c},
&apos;Samtale med NAV - &apos; + {!THREAD_CLOSE_DATE} + &apos; - &apos; + {!JOURNALED_THREAD.CRM_Theme_Name__c}
)</expression>
    </formulas>
    <formulas>
        <description>A formula to calculate the external reference</description>
        <name>externalReferenceFormula</name>
        <dataType>String</dataType>
        <expression>{!JOURNALED_THREAD.Id} + {!Journal_Entry_SF.Theme__c} + SUBSTITUTE(URLENCODE({!Journal_Entry_SF.NAV_Case_Reference__c}), &apos;%&apos;, &apos;_&apos;) + {!latestMessageId}</expression>
    </formulas>
    <formulas>
        <description>Formula to define the journal case type (Sakstype). If no Journal Case ID has been input, default is GENERELL_SAK</description>
        <name>Journal_Case_Type</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Journal_Entry_SF.NAV_Case_Reference__c}), &apos;GENERELL_SAK&apos;, &apos;FAGSAK&apos;)</expression>
    </formulas>
    <formulas>
        <description>Formula to generate a text for when the thread was closed.</description>
        <name>THREAD_CLOSE_DATE</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY(DATEVALUE({!JOURNALED_THREAD.CRM_Closed_Date__c}))),2,&apos;0&apos;) + &apos;.&apos; + LPAD(TEXT(MONTH(DATEVALUE({!JOURNALED_THREAD.CRM_Closed_Date__c}))),2,&apos;0&apos;) + &apos;.&apos; + TEXT(YEAR(DATEVALUE({!JOURNALED_THREAD.CRM_Closed_Date__c})))</expression>
    </formulas>
    <formulas>
        <name>THREAD_START_DATE</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY(DATEVALUE({!JOURNALED_THREAD.CRM_Date_Time_Registered__c}))),2,&apos;0&apos;) + &apos;.&apos; + LPAD(TEXT(MONTH(DATEVALUE({!JOURNALED_THREAD.CRM_Date_Time_Registered__c}))),2,&apos;0&apos;) + &apos;.&apos; + TEXT(YEAR(DATEVALUE({!JOURNALED_THREAD.CRM_Date_Time_Registered__c})))</expression>
    </formulas>
    <interviewLabel>POST_JOURNAL_AUTO_TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Journal Message Thread</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get necessary account information to post a journal entry</description>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JOURNALED_THREAD.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_last_message</name>
        <label>Get last message</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_Variant_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JOURNALED_THREAD.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <object>Message__c</object>
        <outputAssignments>
            <assignToReference>latestMessageId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Query the info needed from record and relations to submit a journal entry</description>
        <name>Get_Necessary_Record_Info</name>
        <label>Get Necessary Record Info</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <object>Thread__c</object>
        <outputReference>JOURNALED_THREAD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <queriedFields>CRM_From_External__c</queriedFields>
        <queriedFields>CRM_Journal_Status__c</queriedFields>
        <queriedFields>CRM_Closed_Date__c</queriedFields>
        <queriedFields>CRM_isActive__c</queriedFields>
        <queriedFields>CRM_Date_Time_Registered__c</queriedFields>
        <queriedFields>CRM_Theme_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Journal_Entry</name>
        <label>Update Journal Entry</label>
        <locationX>314</locationX>
        <locationY>2906</locationY>
        <connector>
            <targetReference>Update_Thread</targetReference>
        </connector>
        <inputReference>Journal_Entry_SF</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Thread</name>
        <label>Update Thread</label>
        <locationX>314</locationX>
        <locationY>3014</locationY>
        <inputReference>JOURNALED_THREAD</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Necessary_Record_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Document variant wrapper for journal request</description>
        <name>Document_Variant_PDF</name>
        <apexClass>CRM_Dokumentvarianter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>String to append to the end of externalReference in the case of a rerun</description>
        <name>externalReferenceSuffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper class for list of documents to journal</description>
        <name>Journal_Documents</name>
        <apexClass>CRM_Dokumenter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SF journal entry record to be created for a journal request</description>
        <name>Journal_Entry_SF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <description>Wrapper class for the actual journal request to be sent.</description>
        <name>Journal_Request</name>
        <apexClass>CRM_JournalEntryWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Wrapper object for the &quot;fagsystem sak&quot; the journal relates to</description>
        <name>Journal_Sak</name>
        <apexClass>CRM_Sak</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JOURNALED_THREAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Thread__c</objectType>
    </variables>
    <variables>
        <description>The ID of the latest message</description>
        <name>latestMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PDF_DOCUMENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input to determine if this flow should perform the DML to update relevant records after callout or if this should be handled outside the flow.</description>
        <name>PERFORM_DML</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
