force-app/main/default/flows/CRM_Message_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Default_Values</name>
        <label>Assign Default Values</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_From_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_From_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_External_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_External_Message_Values</name>
        <label>Set External Message Values</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_External_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_External_Message</name>
        <label>Is External Message</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_External_Message_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_From_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_Message_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Message_From_Label</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CRM_From_User__c} != null,
    IF({!$Record.CRM_From_User__r.Alias} != null,
        {!$Record.CRM_From_User__r.Alias},
        {!$Record.CRM_From_User__r.FirstName}
    ),
    {!$Record.CRM_From_Contact__r.FirstName}
)</expression>
    </formulas>
    <interviewLabel>Message Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Message Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Default_Values</targetReference>
        </connector>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
