force-app/main/default/flows/CRM_Thread_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Closed_Date</name>
        <label>Set Closed Date</label>
        <locationX>248</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_office_restriction_date</name>
        <label>Set office restriction date</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Office_Restriction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_set_closed_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_office_restriction_info</name>
        <label>Update office restriction info</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Office_Restriction_Activated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CRM_Last_Edited_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_office_restriction_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_office_restriction_info_0</name>
        <label>Update office restriction info</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Office_Restriction_Activated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.CRM_NAV_Ident__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_office_restriction_date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_was_office_restrictions_activated</name>
        <label>How was office restrictions activated</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_office_restriction_info_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activated in Salesforce</defaultConnectorLabel>
        <rules>
            <name>Activated_through_API</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CRM_NAV_Ident__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CRM_NAV_Ident__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_office_restriction_info</targetReference>
            </connector>
            <label>Activated through API</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_set_closed_date</name>
        <label>Should set closed date</label>
        <locationX>380</locationX>
        <locationY>983</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Should_set_closed_date_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_isActive__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CRM_isActive__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Closed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_set_Office_Restriction_Values</name>
        <label>Should set Office Restriction Values</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Should_set_closed_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Should_set_Office_Restriction_Values_Yes</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Office_Restriction__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CRM_Office_Restriction__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Office_Restriction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Office_Restriction_Activated_By__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Office_Restriction_Activated_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Office_Restriction_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_was_office_restrictions_activated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Thread Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_set_Office_Restriction_Values</targetReference>
        </connector>
        <object>Thread__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
