force-app/main/default/flows/CRM_Thread_Set_GT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Person_GT</name>
        <label>Set Person GT</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>PERSON_GT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Loop.Account.CRM_Person__r.CRM_GT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Community_User</name>
        <label>Check Community User</label>
        <locationX>396</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>User_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Internal User</defaultConnectorLabel>
        <rules>
            <name>Is_Person_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Loop.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Person_GT</targetReference>
            </connector>
            <label>Is Person User</label>
        </rules>
    </decisions>
    <description>Record triggered flow setting the geographical affiliation to equal the user GT on the time of creation.</description>
    <interviewLabel>Thread Set GT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread Set GT</label>
    <loops>
        <name>User_Loop</name>
        <label>User Loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Recipient_and_Initiator</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Community_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Thread_GT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Queries the thread&apos;s related user records.</description>
        <name>Get_Recipient_and_Initiator</name>
        <label>Get Recipient and Initiator</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Recipient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Thread_GT</name>
        <label>Update Thread GT</label>
        <locationX>176</locationX>
        <locationY>983</locationY>
        <inputAssignments>
            <field>CRM_Original_Person_GT__c</field>
            <value>
                <elementReference>PERSON_GT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Recipient_and_Initiator</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CRM_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Recipient__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable for the persons GT on the time of the thread creation</description>
        <name>PERSON_GT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
