force-app/main/default/flows/CRM_Journal_Entry_After_Insert_On_Thread_Journal_Initiate_Journal_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>If the journal post type is NOTAT. Call thread create journal entry</description>
        <name>Check_Journal_Post_Type</name>
        <label>Check Journal Post Type</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Other Post</defaultConnectorLabel>
        <rules>
            <name>New_NOTAT_Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Journal_Post_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOTAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Thread_Data</targetReference>
            </connector>
            <label>New NOTAT Post</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the journal post is to be performed directly. This is the case if the thread is journaled after it has been closed, or if the post type is NOTAT.</description>
        <name>Verify_Post_Criteria</name>
        <label>Verify Post Criteria</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Post Later</defaultConnectorLabel>
        <rules>
            <name>Do_Post</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Journal_Post_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOTAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Thread_State.CRM_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Journal_to_JOARK</targetReference>
            </connector>
            <label>Do Post</label>
        </rules>
    </decisions>
    <description>Flow for automatic journal post to JOARK based on defined criteria. As of now only for posts with type NOTAT created via API.</description>
    <formulas>
        <name>DEFAULT_POST_TYPE</name>
        <dataType>String</dataType>
        <expression> IF({!Get_Thread_Data.CRM_From_External__c}== true,
  &apos;INNGAAENDE&apos;,
  &apos;UTGAAENDE&apos; 
)</expression>
    </formulas>
    <interviewLabel>Journal Entry - After Insert - Initiate Journal Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Journal Entry - After Insert - On Thread Journal Initiate Journal Post</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Thread_Data</name>
        <label>Get Thread Data</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Placeholder_Journal_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_From_External__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread_State</name>
        <label>Get Thread State</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Post_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_isActive__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Journal_Entry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Journal_Post_Type</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>Schedule_Journal_Post</name>
            <connector>
                <targetReference>Get_Thread_State</targetReference>
            </connector>
            <label>Schedule Journal Post</label>
            <maxBatchSize>30</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>For a new NOTAT journal post. Initiate the flow to create a new placeholder post for the case, theme combination (Duplicate handling in subflow)</description>
        <name>Create_New_Placeholder_Journal_Entry</name>
        <label>Create New Placeholder Journal Entry</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <flowName>CRM_Thread_Create_Journal_Entry</flowName>
        <inputAssignments>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>$Record.NAV_Case_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Case_Legacy_System</name>
            <value>
                <elementReference>$Record.CRM_NAV_Case_Legacy_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>$Record.CRM_Created_By_Ident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>$Record.CRM_Created_By_NAV_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Post_Type</name>
            <value>
                <elementReference>DEFAULT_POST_TYPE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>$Record.CRM_Theme_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Post_Journal_to_JOARK</name>
        <label>Post Journal to JOARK</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <flowName>CRM_Journal_Message_Thread</flowName>
        <inputAssignments>
            <name>Journal_Entry_SF</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PERFORM_DML</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
