force-app/main/default/flows/CRM_Message_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_values_to_thread</name>
        <label>Assign values to thread</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Get_Thread.CRM_Conversation_Summary__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MessageSummaryText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread.CRM_Latest_Message_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Thread</targetReference>
        </connector>
    </assignments>
    <description>[DEPRECATED] After insert actions on Message__c</description>
    <interviewLabel>Message After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Message After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Message_Event</name>
        <label>Create New Message Event</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>CRM_Message_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Related_Object_Id__c</field>
            <value>
                <elementReference>Get_Thread.CRM_Related_Object__c</elementReference>
            </value>
        </inputAssignments>
        <object>New_Message__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Thread</name>
        <label>Update Thread</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Create_New_Message_Event</targetReference>
        </connector>
        <inputReference>Get_Thread</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>MessageSummaryText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;{!$Record.CRM_From_First_Name__c} ({!$Record.CRM_From_Ident_Formula__c}) - {!$Record.CreatedDate}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Record.CRM_Message_Text__c}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
