force-app/main/default/flows/CRM_Thread_before_insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_values</name>
        <label>Assign values</label>
        <locationX>177</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_External_ActorId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_person.INT_ActorId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CRM_External_Person_Ident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_person.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CRM_Original_Person_GT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_person.CRM_GT__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>[DEPRECATED]</description>
    <interviewLabel>Thread before insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_person</name>
        <label>Get person</label>
        <locationX>176</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_person</targetReference>
        </connector>
        <object>Thread__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
