force-app/main/default/flows/CRM_Thread_Create_Journal_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_status_to_started</name>
        <label>Set status to started</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_thread.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_thread_status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if there was returned an existing journal entry.</description>
        <name>Check_Journal_Entries</name>
        <label>Check Journal Entries</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Create_Journal_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New INN/UT Entry</defaultConnectorLabel>
        <rules>
            <name>Journal_Entry_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Journal_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Journal Entry Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Journal_Post_Type</name>
        <label>Check Journal Post Type</label>
        <locationX>314</locationX>
        <locationY>1022</locationY>
        <defaultConnector>
            <targetReference>Check_Journal_Entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Post Type</defaultConnectorLabel>
        <rules>
            <name>New_Journal_NOTAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JOURNAL_POST_TYPE_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOTAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_NOTAT_Journal_Entry</targetReference>
            </connector>
            <label>New Journal NOTAT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checks_journal_status</name>
        <label>Checks journal status</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Theme_Common_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_journaled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_thread.CRM_Journal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Journaled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_to_started</targetReference>
            </connector>
            <label>Not journaled</label>
        </rules>
    </decisions>
    <description>Creates a journal entry ready for JOARK post related to a Thread_ID.</description>
    <formulas>
        <description>Defines the journal post type depending on if the dialogue was initiated by NAV or the end user</description>
        <name>JOURNAL_POST_TYPE_FORMULA</name>
        <dataType>String</dataType>
        <expression>IF({!Journal_Post_Type} != null,
    {!Journal_Post_Type},
    IF({!Get_thread.CRM_isActive__c} == true,
        &apos;NOTAT&apos;,
        IF({!Get_thread.CRM_From_External__c} == true,
        &apos;INNGAAENDE&apos;,
        &apos;UTGAAENDE&apos;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <description>Formula to define if the journal post for the thread is INNGAAENDE or UTGAAENDE.</description>
        <name>JOURNAL_POST_TYPE_INN_UT_FORMULA</name>
        <dataType>String</dataType>
        <expression>IF({!Get_thread.CRM_From_External__c} == true,
    &apos;INNGAAENDE&apos;,
    &apos;UTGAAENDE&apos;
)</expression>
    </formulas>
    <interviewLabel>Thread Create Journal Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread Create Journal Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Journal_Entry</name>
        <label>Create Journal Entry</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Thread_Categorization</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CRM_Created_By_Ident__c</field>
            <value>
                <elementReference>Journal_Entry_NAV_Ident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Created_By_NAV_Unit__c</field>
            <value>
                <elementReference>Journal_Entry_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Journal_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Journal_Post_Type__c</field>
            <value>
                <elementReference>JOURNAL_POST_TYPE_INN_UT_FORMULA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NAV_Case_Legacy_System__c</field>
            <value>
                <elementReference>Journal_Case_Legacy_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journal_Entry_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NAV_Case_Reference__c</field>
            <value>
                <elementReference>Journal_Case_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtheme__c</field>
            <value>
                <elementReference>Get_SF_Subtheme_Common_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <elementReference>Get_Theme_Common_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Journal_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_NOTAT_Journal_Entry</name>
        <label>Create New NOTAT Journal Entry</label>
        <locationX>182</locationX>
        <locationY>1130</locationY>
        <connector>
            <targetReference>Check_Journal_Entries</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Created_By_Ident__c</field>
            <value>
                <elementReference>Journal_Entry_NAV_Ident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Created_By_NAV_Unit__c</field>
            <value>
                <elementReference>Journal_Entry_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Journal_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Journal_Post_Type__c</field>
            <value>
                <elementReference>JOURNAL_POST_TYPE_FORMULA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NAV_Case_Legacy_System__c</field>
            <value>
                <elementReference>Journal_Case_Legacy_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journal_Entry_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NAV_Case_Reference__c</field>
            <value>
                <elementReference>Journal_Case_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtheme__c</field>
            <value>
                <elementReference>Get_SF_Subtheme_Common_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <elementReference>Get_Theme_Common_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Journal_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Journal_Entries</name>
        <label>Get Existing Journal Entries</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Theme_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Theme_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NAV_Case_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Case_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Journal_Post_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NOTAT</stringValue>
            </value>
        </filters>
        <object>Journal_Entry__c</object>
        <outputReference>Existing_Journal_Entry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Journal_Post_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SF_Subtheme_Common_Code</name>
        <label>Get SF Subtheme Common Code</label>
        <locationX>314</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Journal_Post_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Subtheme_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Behandlingstema</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the SF id to the common code to be journaled.</description>
        <name>Get_Theme_Common_Code</name>
        <label>Get Theme Common Code</label>
        <locationX>314</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SF_Subtheme_Common_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Theme_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tema</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Parent_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the relevant thread</description>
        <name>Get_thread</name>
        <label>Get thread</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checks_journal_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Journal_Status__c</queriedFields>
        <queriedFields>CRM_From_External__c</queriedFields>
        <queriedFields>CRM_isActive__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updated the thread theme group and theme to match the created journal entry</description>
        <name>Update_Thread_Categorization</name>
        <label>Update Thread Categorization</label>
        <locationX>446</locationX>
        <locationY>1538</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Subtheme__c</field>
            <value>
                <elementReference>Get_SF_Subtheme_Common_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Theme_Group__c</field>
            <value>
                <elementReference>Get_Theme_Common_Code.CRM_Parent_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Theme__c</field>
            <value>
                <elementReference>Get_Theme_Common_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_thread_status</name>
        <label>Update thread status</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Theme_Common_Code</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>Get_thread</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Journal_Entries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>974</locationX>
        <locationY>1538</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>Flow - Thread Create Journal Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Category</name>
            <value>
                <stringValue>Journal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error encountered in thread journal entry creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Thread__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>Get_thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Variable set if the flow finds an existing journal entry for the matching theme + case reference</description>
        <name>Existing_Journal_Entry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <description>NAV case id the journal entry relates to.</description>
        <name>Journal_Case_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Required variable for journal post in the Dokarkiv API.</description>
        <name>Journal_Case_Legacy_System</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV Ident of the user creating the journal entry.</description>
        <name>Journal_Entry_NAV_Ident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV unit of the user creating the journal entry</description>
        <name>Journal_Entry_Unit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Journal post type as input to allow override of the journal post type formula</description>
        <name>Journal_Post_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Journal_Subtheme_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Journal_Theme_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the thread to be journaled</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
