force-app/main/default/flows/CRM_Thread_Create_Journal_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Checks if there was returned an existing journal entry.</description>
        <name>Check_Journal_Entries</name>
        <label>Check Journal Entries</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Theme_Common_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Entry</defaultConnectorLabel>
        <rules>
            <name>Journal_Entry_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Journal_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Journal Entry Exists</label>
        </rules>
    </decisions>
    <description>Creates a journal entry ready for JOARK post related to a Thread_ID.</description>
    <interviewLabel>Thread Create Journal Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread Create Journal Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Journal_Entry</name>
        <label>Create Journal Entry</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>CRM_Created_By_Ident__c</field>
            <value>
                <elementReference>Journal_Entry_NAV_Ident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Created_By_NAV_Unit__c</field>
            <value>
                <elementReference>Journal_Entry_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Journal_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journal_Entry_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NAV_Case_Reference__c</field>
            <value>
                <elementReference>Journal_Case_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <elementReference>Get_Theme_Common_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Journal_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Journal_Entries</name>
        <label>Get Existing Journal Entries</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Journal_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Theme_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Theme_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NAV_Case_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Case_ID</elementReference>
            </value>
        </filters>
        <object>Journal_Entry__c</object>
        <outputReference>Existing_Journal_Entry</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Query the SF id to the common code to be journaled.</description>
        <name>Get_Theme_Common_Code</name>
        <label>Get Theme Common Code</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Journal_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Theme_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tema</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Journal_Entries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable set if the flow finds an existing journal entry for the matching theme + case reference</description>
        <name>Existing_Journal_Entry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <description>NAV case id the journal entry relates to.</description>
        <name>Journal_Case_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV Ident of the user creating the journal entry.</description>
        <name>Journal_Entry_NAV_Ident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV unit of the user creating the journal entry</description>
        <name>Journal_Entry_Unit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Journal_Theme_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the thread to be journaled</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
