force-app/main/default/flows/CRMHenvendelse_Thread_Subflow_CreateUserNotificationOnRedactedMessage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Redacted_Inbox_notification</name>
        <label>Create Redacted Inbox notification</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>UN_InnboksProducerLegacy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_outbound_value</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>thread.CRM_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eksternVarsling</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fodselsnummer</name>
            <value>
                <elementReference>thread.CRM_External_Person_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grupperingsId</name>
            <value>
                <elementReference>thread.CRM_API_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>link</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordSfId</name>
            <value>
                <elementReference>thread.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sikkerhetsnivaa</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systembruker</name>
            <value>
                <elementReference>$Label.CRMHenvendelse_SystemUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tekst</name>
            <value>
                <elementReference>$Label.CRMHenvendelse_RedactedMessageNotificationText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tidspunkt</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_outbound_value</name>
        <label>Set outbound value</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>newUserNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Redacted_Inbox_notification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>url</name>
        <dataType>String</dataType>
        <expression>{!$Label.CRMHenvendelse_InnboksBaseURL}+{!$Label.CRMHenvendelse_NewMessageNotification}+&quot;/&quot;+{!thread.Id}</expression>
    </formulas>
    <interviewLabel>Thread - Subflow - Create User Notification On Redacted Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - Subflow - Create User Notification On Redacted Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Redacted_Inbox_notification</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>newUserNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserNotification__c</objectType>
    </variables>
    <variables>
        <name>thread</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Thread__c</objectType>
    </variables>
</Flow>
