force-app/main/default/flows/CRMHenvendelse_Thread_Subflow_CreateInnboksUserNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_new_Innboks_Notification</name>
        <label>Create new Innboks Notification</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <actionName>UN_InnboksProducerLegacy</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_error_from_subflow</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Thread.CRM_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eksternVarsling</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fodselsnummer</name>
            <value>
                <elementReference>Get_Person.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grupperingsId</name>
            <value>
                <elementReference>Thread.CRM_API_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>link</name>
            <value>
                <elementReference>URL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prefererteKanaler</name>
            <value>
                <stringValue>SMS,EPOST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordSfId</name>
            <value>
                <elementReference>Thread.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sikkerhetsnivaa</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systembruker</name>
            <value>
                <elementReference>$Label.CRMHenvendelse_SystemUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tekst</name>
            <value>
                <elementReference>$Label.CRMHenvendelse_NewMessageNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tidspunkt</name>
            <value>
                <elementReference>MessageDateTime</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>newInnboksNotification</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_error_from_subflow</name>
        <label>Log error from subflow</label>
        <locationX>572</locationX>
        <locationY>758</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Thread__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>Thread</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>Thread - Create Innboks User Notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Has_Open_User_Notification</name>
        <label>Has Open User Notification</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Open_User_Notification_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Notification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>URL</name>
        <dataType>String</dataType>
        <expression>{!$Label.CRMHenvendelse_InnboksBaseURL}+{!$Label.CRMHenvendelse_ThreadURL}+&apos;/&apos;+{!Thread.Id}+&apos;/&apos;+{!Thread.CRM_API_Reference__c}</expression>
    </formulas>
    <interviewLabel>Thread - Subflow - Create Innboks User Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - Subflow - Create Innboks User Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Person</name>
        <label>Get Person</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_new_Innboks_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Thread.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Thread</name>
        <label>Thread</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>threadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Notification</name>
        <label>User Notification</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Open_User_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INT_GroupingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Thread.CRM_API_Reference__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>INT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INNBOKS</stringValue>
            </value>
        </filters>
        <filters>
            <field>INT_SystemUser__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.CRMHenvendelse_SystemUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserNotification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Thread</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ExternalNotification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MessageDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newInnboksNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserNotification__c</objectType>
    </variables>
    <variables>
        <name>NotificationMessageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valid values are &quot;SMS&quot; and &quot;EPOST&quot; can be &quot;SMS,EPOST&quot;</description>
        <name>PreferredChannels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>threadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
