force-app/main/default/flows/CRMHenvendelse_Thread_Subflow_CreateUserNotificationOnRedactedMessage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Redacted_Inbox_notification</name>
        <label>Create Redacted Inbox notification</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <actionName>UN_InnboksProducerLegacy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_outbound_value</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>thread.CRM_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eksternVarsling</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fodselsnummer</name>
            <value>
                <elementReference>Get_Person.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grupperingsId</name>
            <value>
                <elementReference>thread.CRM_API_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>link</name>
            <value>
                <elementReference>url</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordSfId</name>
            <value>
                <elementReference>thread.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sikkerhetsnivaa</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>systembruker</name>
            <value>
                <elementReference>$Label.CRMHenvendelse_SystemUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tekst</name>
            <value>
                <elementReference>$Label.CRMHenvendelse_NewMessageNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tidspunkt</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_outbound_value</name>
        <label>Set outbound value</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newUserNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Redacted_Inbox_notification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Open_User_Notification</name>
        <label>Has Open User Notification</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Open_User_Notifications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>url</name>
        <dataType>String</dataType>
        <expression>{!$Label.CRMHenvendelse_InnboksBaseURL}+{!$Label.CRMHenvendelse_ThreadURL}+&apos;/&apos;+{!thread.Id}+&apos;/&apos;+{!thread.CRM_API_Reference__c}</expression>
    </formulas>
    <interviewLabel>Thread - Subflow - Create User Notification On Redacted Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - Subflow - Create User Notification On Redacted Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Person</name>
        <label>Get Person</label>
        <locationX>308</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Redacted_Inbox_notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thread.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Open_User_Notifications</name>
        <label>Open User Notifications</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Open_User_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INT_GroupingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thread.CRM_API_Reference__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>INT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INNBOKS</stringValue>
            </value>
        </filters>
        <filters>
            <field>INT_SystemUser__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.CRMHenvendelse_SystemUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserNotification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Open_User_Notifications</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newUserNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UserNotification__c</objectType>
    </variables>
    <variables>
        <name>thread</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Thread__c</objectType>
    </variables>
</Flow>