force-app/main/default/flows/Journal_Conversation_Note_Retry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Document</name>
        <label>Generate Document</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Document_Variant_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>visualForceReference</name>
            <value>
                <stringValue>/apex/CRM_Conversation_Note_PDF?id={!Journal_Entry_SF.CRM_Conversation_Note__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PDF_DOCUMENT</assignToReference>
            <name>documentString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls journal utils to perform the API post action</description>
        <name>Post_Journal_Request</name>
        <label>Post Journal Request</label>
        <locationX>248</locationX>
        <locationY>1190</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Post_State</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>journalRequest</name>
            <value>
                <elementReference>Journal_Request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navIdent</name>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Created_By_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Conversation_Note__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST_JOURNAL</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_externalReferenceSuffix</name>
        <label>Add externalReferenceSuffix</label>
        <locationX>116</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Journal_Request.eksternReferanseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalReferenceSuffix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add document variants to document list and assign document title</description>
        <name>Assign_Journal_Documents</name>
        <label>Assign Journal Documents</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Variant_PDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.brevkode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRM_SAMTALEREFERAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.dokumentkategori</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FORVALTNINGSNOTAT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Sak_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to document variant wrapper</description>
        <name>Document_Variant_Assignment</name>
        <label>Document Variant Assignment</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDF_DOCUMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns needed values to the journal requests and adds the document list.</description>
        <name>Journal_Request_Assignment</name>
        <label>Journal Request Assignment</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Journal_Request.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.sak</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Sak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalpostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NOTAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalfoerendeEnhet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Created_By_NAV_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.tema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Theme_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.eksternReferanseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>externalReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_externalReferenceSuffix_is_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns necessary values to the Sak wrapper for journal entry.</description>
        <name>Journal_Sak_Assignment</name>
        <label>Journal Sak Assignment</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsakId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.NAV_Case_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.sakstype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Sak.fagsaksystem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_NAV_Case_Legacy_System__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Request_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Completed</name>
        <label>Set Post Completed</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal_Request.journalpostId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.CRM_Journal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_DML_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Failed</name>
        <label>Set Post Failed</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_DML_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rerun_failed</name>
        <label>Set Rerun failed</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_SF.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rerun Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_DML_Input</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_DML_Input</name>
        <label>Check DML Input</label>
        <locationX>248</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>No DML</defaultConnectorLabel>
        <rules>
            <name>Do_DML</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PERFORM_DML</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Journal_Entry</targetReference>
            </connector>
            <label>Do DML</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_externalReferenceSuffix_is_blank</name>
        <label>Check if externalReferenceSuffix is blank</label>
        <locationX>248</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Post_Journal_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_externalReferenceSuffix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalReferenceSuffix</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_externalReferenceSuffix</targetReference>
            </connector>
            <label>Has externalReferenceSuffix</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_rerun_failed</name>
        <label>Check if rerun failed</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Set_Post_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rerun_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalReferenceSuffix</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rerun_failed</targetReference>
            </connector>
            <label>Rerun failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Post_State</name>
        <label>Check Post State</label>
        <locationX>248</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Check_if_rerun_failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal_Request.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Post_Completed</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Flow for automated retry functionality for failed journal attempts</description>
    <formulas>
        <name>Document_Title</name>
        <dataType>String</dataType>
        <expression>&apos;Samtale med NAV - &apos; + LPAD(TEXT(DAY(DATEVALUE({!Conversation_Note_Record.CRM_Registered_Datetime_Formula__c}))),2,&apos;0&apos;) + &apos;.&apos; + LPAD(TEXT(MONTH(DATEVALUE({!Conversation_Note_Record.CRM_Registered_Datetime_Formula__c}))),2,&apos;0&apos;) + &apos;.&apos; + TEXT(YEAR(DATEVALUE({!Conversation_Note_Record.CRM_Registered_Datetime_Formula__c})))</expression>
    </formulas>
    <formulas>
        <name>externalReference</name>
        <dataType>String</dataType>
        <expression>{!Conversation_Note_Record.Id} + {!Journal_Entry_SF.CRM_Theme_Code__c} + SUBSTITUTE(URLENCODE({!Journal_Sak.fagsakId}), &apos;%&apos;, &apos;_&apos;)</expression>
    </formulas>
    <formulas>
        <description>Formula to define the journal case type (Sakstype). If no Journal Case ID has been input, default is GENERELL_SAK</description>
        <name>Journal_Case_Type</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Journal_Entry_SF.NAV_Case_Reference__c}), &apos;GENERELL_SAK&apos;, &apos;FAGSAK&apos;)</expression>
    </formulas>
    <formulas>
        <description>Formula to generate name convention on journal required format (For persons)</description>
        <name>Person_Full_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Account_Info.CRM_Person__r.INT_LastName__c} &amp; &apos;, &apos; &amp; {!Get_Account_Info.CRM_Person__r.INT_FirstName__c} &amp; &apos; &apos; &amp;{!Get_Account_Info.CRM_Person__r.INT_MiddleName__c}</expression>
    </formulas>
    <interviewLabel>Journal Conversation Note Retry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Journal Conversation Note Retry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get necessary account information to post a journal entry</description>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Conversation_Note_Record.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the info needed from record and relations to submit a journal entry</description>
        <name>Get_Necessary_Record_Info</name>
        <label>Get Necessary Record Info</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Journal_Entry_SF.CRM_Conversation_Note__c</elementReference>
            </value>
        </filters>
        <object>Conversation_Note__c</object>
        <outputReference>Conversation_Note_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Journal_Status__c</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <queriedFields>CRM_Registered_Datetime_Formula__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates field on the conversation note to reflect the journal state</description>
        <name>Update_Conversation_Note</name>
        <label>Update Conversation Note</label>
        <locationX>116</locationX>
        <locationY>2006</locationY>
        <inputReference>Conversation_Note_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Journal_Entry</name>
        <label>Update Journal Entry</label>
        <locationX>116</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Update_Conversation_Note</targetReference>
        </connector>
        <inputReference>Journal_Entry_SF</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Necessary_Record_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Conversation note to update based on the journal entry process.</description>
        <name>Conversation_Note_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Conversation_Note__c</objectType>
    </variables>
    <variables>
        <description>Document variant wrapper for journal request</description>
        <name>Document_Variant_PDF</name>
        <apexClass>CRM_Dokumentvarianter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>String to append to the end of externalReference in the case of a rerun</description>
        <name>externalReferenceSuffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper class for list of documents to journal</description>
        <name>Journal_Documents</name>
        <apexClass>CRM_Dokumenter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SF journal entry record to be created for a journal request</description>
        <name>Journal_Entry_SF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <description>Wrapper class for the actual journal request to be sent.</description>
        <name>Journal_Request</name>
        <apexClass>CRM_JournalEntryWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper object for the &quot;fagsystem sak&quot; the journal relates to</description>
        <name>Journal_Sak</name>
        <apexClass>CRM_Sak</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PDF_DOCUMENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to define if the flow is to perform the DML operation directly or the DML will be handled outside</description>
        <name>PERFORM_DML</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
