force-app/main/default/flows/Subflow_Archive_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Archive_Record</name>
        <label>Archive Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>ArchiveHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Response_OK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Archive_Entry_Failed2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>archiveEntryInputs</name>
            <value>
                <elementReference>Get_Created_Archive_Entry</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ArchiveResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Response_OK</name>
        <label>Response OK</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Archive_Entry_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Response != 200</defaultConnectorLabel>
        <rules>
            <name>Response_200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ArchiveResponse</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Archive_Entry_Completed</targetReference>
            </connector>
            <label>Response 200</label>
        </rules>
    </decisions>
    <interviewLabel>Subflow - Archive Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Archive Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <elementReference>Domain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Archive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>ArchiveEntryRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_Info__c</field>
            <value>
                <stringValue>Archive_Entry__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <elementReference>SourceFlow</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Archive_Entry</name>
        <label>Create Archive Entry</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>ArchiveEntryRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Archive_Entry</targetReference>
        </connector>
        <inputAssignments>
            <field>Actor_Id__c</field>
            <value>
                <elementReference>ActorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Archive_Data__c</field>
            <value>
                <elementReference>ArchiveData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confidential__c</field>
            <value>
                <elementReference>Confidential</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domain__c</field>
            <value>
                <elementReference>Domain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fnr__c</field>
            <value>
                <elementReference>Fnr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Id__c</field>
            <value>
                <elementReference>ReferenceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Object__c</field>
            <value>
                <elementReference>ReferenceObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <elementReference>Theme</elementReference>
            </value>
        </inputAssignments>
        <object>Archive_Entry__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Archive_Entry</name>
        <label>Get Created Archive Entry</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Archive_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ArchiveEntryRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Archive_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Archive_Entry_Completed</name>
        <label>Set Archive Entry Completed</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ArchiveEntryRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Archived_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Archive_Entry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Archive_Entry_Failed</name>
        <label>Set Archive Entry Failed</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ArchiveEntryRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Archive_Entry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Archive_Entry_Failed2</name>
        <label>Set Archive Entry Failed</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Application_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ArchiveEntryRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Archive_Entry__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Archive_Entry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArchiveData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArchiveEntryRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArchiveResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Confidential</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Domain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fnr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Id of record to be archived</description>
        <name>ReferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Theme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
