force-app/main/default/flows/Subflow_Archive_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_To_Archive</name>
        <label>Send To Archive</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>ArchiveHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Status_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>aktoerid</name>
            <value>
                <elementReference>ActorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>archiveData</name>
            <value>
                <elementReference>ArchiveData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fnr</name>
            <value>
                <elementReference>Fnr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>konfidentiellt</name>
            <value>
                <elementReference>Confidential</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opprettetAv</name>
            <value>
                <elementReference>Domain</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceObject</name>
            <value>
                <elementReference>ReferenceObject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tema</name>
            <value>
                <elementReference>Theme</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ArchiveResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Archive_Entry_fields</name>
        <label>Set Archive Entry fields</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Actor_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Archive_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ArchiveData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Confidential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confidential</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Domain</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Fnr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fnr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Reference_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferenceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Reference_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferenceObject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_To_Archive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Completed_and_Date</name>
        <label>Set Completed and Date</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Archived_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Ready_for_Anonymization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Archive_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Failed</name>
        <label>Set Status Failed</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Failed2</name>
        <label>Set Status Failed</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ArchiveEntry.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Archive_Entry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Success</name>
        <label>Check Success</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Status_Failed2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Response Not OK</defaultConnectorLabel>
        <rules>
            <name>Response_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ArchiveResponse</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Completed_and_Date</targetReference>
            </connector>
            <label>Response OK</label>
        </rules>
    </decisions>
    <interviewLabel>Subflow - Archive Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Archive Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Archive_Entry</targetReference>
        </connector>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Archive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>ReferenceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_Info__c</field>
            <value>
                <elementReference>ReferenceObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <elementReference>SourceFlow</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Archive_Entry</name>
        <label>Create Archive Entry</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <inputReference>ArchiveEntry</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Archive_Entry_fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArchiveData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArchiveEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Archive_Entry__c</objectType>
    </variables>
    <variables>
        <name>ArchiveEntryRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ArchiveResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Confidential</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Domain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fnr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Id of record to be archived</description>
        <name>ReferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Theme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
