force-app/main/default/flows/Thread_Screenflow_Discard_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Close_Tab</name>
        <label>Close Tab</label>
        <locationX>352</locationX>
        <locationY>998</locationY>
        <actionName>c:fcTabCloser</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>User_notification_result</name>
        <label>User notification result</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Close_Tab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sent</defaultConnectorLabel>
        <rules>
            <name>User_notification_not_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newUserNotification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Something_is_not_OK</targetReference>
            </connector>
            <label>User notification not created</label>
        </rules>
        <rules>
            <name>User_notification_created_but_not_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newUserNotification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newUserNotification.CRM_NotificationError__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Something_is_not_OK</targetReference>
            </connector>
            <label>User notification created, but not sent</label>
        </rules>
    </decisions>
    <interviewLabel>Thread Screenflow Discard Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread Screenflow Discard Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Redacted_Event</name>
        <label>Create Redacted Event</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Update_Messages</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>rollBack</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <elementReference>Redacted_Message_Notification_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Type__c</field>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Inbox_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>rollBack</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>rollBack</name>
        <label>rollBack</label>
        <locationX>616</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Failed</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Messages</name>
        <label>Update Messages</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Update_Thread_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>rollBack</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Is_Redacted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <object>Message__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Thread_0</name>
        <label>Update Thread</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Trigger_sync</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>rollBack</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cause__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Sensitive_Information__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Failed</name>
        <label>Failed</label>
        <locationX>616</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Complete</name>
            <fieldText>&lt;p&gt;Kunne ikke kassere meldingene og endringene har blitt rullet tilbake. Prøv på nytt, om det ikke fungerer meld en fagsak.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Feilmelding:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Something_is_not_OK</name>
        <label>Something is not OK</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>somethingWnetWrongText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Noe har gått galt under kassering, se meldingene under.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>userNotificationNotCreated</name>
            <fieldText>&lt;p&gt;Brukernotifikasjon ble ikke opprettet og bruker har ikke blitt varslet om kasseringen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>User_notification_not_created</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>usernotificationCreatedButNotSent</name>
            <fieldText>&lt;p&gt;Brukernotoifikasjonen ble ikke sendt til bruker.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Feilmelding:&lt;/p&gt;&lt;p&gt;{!newUserNotification.CRM_NotificationError__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Trigger_sync</name>
        <label>Trigger sync</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <fields>
            <name>next</name>
            <extensionName>c:fcFlowNextScreenNavigator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Redacted_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Inbox_Notification</name>
        <label>Send Inbox Notification</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>User_notification_result</targetReference>
        </connector>
        <flowName>CRMHenvendelse_Thread_Subflow_CreateUserNotificationOnRedactedMessage</flowName>
        <inputAssignments>
            <name>thread</name>
            <value>
                <elementReference>Get_Thread</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newUserNotification</assignToReference>
            <name>newUserNotification</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Redacted_Message_Notification_Text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.CRMHenvendelse_RedactedMessageNotificationText}</text>
    </textTemplates>
    <variables>
        <name>newUserNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserNotification__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
