force-app/main/default/flows/Thread_Screenflow_Complete_Redaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Close_tab</name>
        <label>Close tab</label>
        <locationX>534</locationX>
        <locationY>1346</locationY>
        <actionName>c:fcTabCloser</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Log_exception</name>
        <label>Log exception</label>
        <locationX>1282</locationX>
        <locationY>1466</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Exception_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Thread__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>CRITICAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>Thread Screenflow Complete Redaction</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Send_notification</name>
        <label>Send notification</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_thread_to_redacted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not redacted</defaultConnectorLabel>
        <rules>
            <name>Mesage_redacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RedactMessageId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_redact_info_message_AG</targetReference>
            </connector>
            <label>Mesage redacted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Thread_type</name>
        <label>Thread type</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Info_Message_On_Redaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NKS</defaultConnectorLabel>
        <rules>
            <name>Arbeidsgiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread.CRM_Thread_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AG_MLØNN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_redacted_message</targetReference>
            </connector>
            <label>Arbeidsgiver</label>
        </rules>
    </decisions>
    <interviewLabel>Thread Screenflow Complete Redaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread Screenflow Complete Redaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a message to inform the user about redaction.</description>
        <name>Create_Info_Message_On_Redaction</name>
        <label>Create Info Message On Redaction</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Set_thread_to_redacted</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CRM_Event_Type__c</field>
            <value>
                <stringValue>REDACTED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <elementReference>Redacted_Message_Notification_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Type__c</field>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_redact_info_message_AG</name>
        <label>Create redact info message AG</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Set_thread_to_redacted</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CRM_Event_Type__c</field>
            <value>
                <stringValue>REDACTED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <elementReference>Redacted_Message_Notification_AG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Type__c</field>
            <value>
                <stringValue>Info</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_redacted_message</name>
        <label>Get redacted message</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Is_Redacted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Message__c</object>
        <outputAssignments>
            <assignToReference>RedactMessageId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trigger_sync</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>1282</locationX>
        <locationY>1346</locationY>
        <connector>
            <targetReference>Log_exception</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Set_Messages_to_Redacted</name>
        <label>Set Messages to Redacted</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Thread_type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Sensitive_Information__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Sensitive_Information__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_thread_to_redacted</name>
        <label>Set thread to redacted</label>
        <locationX>534</locationX>
        <locationY>1226</locationY>
        <connector>
            <targetReference>Close_tab</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cause__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Sensitive_Information__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Exception_Screen</name>
        <label>Exception Screen</label>
        <locationX>1282</locationX>
        <locationY>1586</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>exceptionMessage</name>
            <fieldText>&lt;p&gt;Noe gikk galt&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Feilmelding:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Lukk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Trigger_sync</name>
        <label>Trigger sync</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Messages_to_Redacted</targetReference>
        </connector>
        <fields>
            <name>next</name>
            <extensionName>c:fcFlowNextScreenNavigator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Redacted_Message_Notification_AG</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.CRMHenvendelse_RedactedMessageAG}</text>
    </textTemplates>
    <textTemplates>
        <name>Redacted_Message_Notification_Text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.CRMHenvendelse_RedactedMessageNotificationText}</text>
    </textTemplates>
    <variables>
        <name>newUserNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserNotification__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RedactMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
