force-app/main/default/flows/Thread_After_Update_Sensitive_Information_Set_To_True.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_email_not_sent</name>
        <label>Log email not sent</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>EmailMessage</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>CRITICAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>Send_Email.errorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>Thread - After Update - Sensitive Information Set To True</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Checks which user that activated the office restriction</description>
        <name>Check_Sensitive_Information_Activated_By</name>
        <label>Check Sensitive Information Activated By</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Activated in Salesforce</defaultConnectorLabel>
        <rules>
            <name>Activated_Through_API</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CRM_NAV_Ident__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CRM_NAV_Ident__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Activated Through API</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Result</name>
        <label>Send Email Result</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Email Sent</defaultConnectorLabel>
        <rules>
            <name>Email_not_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Email.sucess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_email_not_sent</targetReference>
            </connector>
            <label>Email not sent</label>
        </rules>
    </decisions>
    <interviewLabel>Thread - After Update - Sensitive Information Set To True {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - After Update - Sensitive Information Set To True</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Sensitive_Information_Activated_By</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>STO_Sensitive_Information__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Send_Email_Result</targetReference>
        </connector>
        <flowName>Discarding_Email_Alert</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
