force-app/main/default/flows/Thread_After_update_Archive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Messages_to_JSON</name>
        <label>Convert Messages to JSON</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>ArchiveHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Subflow_Archive_Record</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsList</typeName>
            <typeValue>Message__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordsList</name>
            <value>
                <elementReference>Get_Related_Messages</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ArchiveData</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>TeamNKS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NKS</stringValue>
        </value>
    </constants>
    <interviewLabel>Thread - After update - Archive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - After update - Archive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Messages</name>
        <label>Get Related Messages</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Messages_to_JSON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Message__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CRM_Message_Text__c</queriedFields>
        <queriedFields>CRM_Thread_Type__c</queriedFields>
        <queriedFields>CRM_Read_Datetime__c</queriedFields>
        <queriedFields>CRM_Sent_date__c</queriedFields>
        <queriedFields>CRM_Henvendelse_BehandlingsId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR (2 AND 3)) AND (4 OR 5 or 6)</filterLogic>
        <filters>
            <field>STO_Sensitive_Information__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Journal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Journaled</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STB</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BTO</stringValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Related_Messages</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Archive_Record</name>
        <label>Subflow - Archive Record</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <flowName>Subflow_Archive_Record</flowName>
        <inputAssignments>
            <name>ActorId</name>
            <value>
                <elementReference>$Record.CRM_Account__r.CRM_Person__r.INT_ActorId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ArchiveData</name>
            <value>
                <elementReference>ArchiveData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Confidential</name>
            <value>
                <elementReference>$Record.STO_Sensitive_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Domain</name>
            <value>
                <elementReference>TeamNKS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Fnr</name>
            <value>
                <elementReference>$Record.CRM_Account__r.CRM_Person__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceObject</name>
            <value>
                <stringValue>Thread__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceFlow</name>
            <value>
                <stringValue>Thread - After Update - Archive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Theme</name>
            <value>
                <elementReference>$Record.CRM_Theme__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ArchiveData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
